.container{
        display:flex;
        flex-direction: row;
        justify-content:left;
        margin-top: 50px;
        flex-wrap: wrap;
      }

.product{
    margin-left:10px;
    margin-right:10px; 
    margin-top:15px; 
    width: 100%;
    border-radius:5px;
    background-color:white;
} 

.product header{
    margin-top:5px;
    margin-left:5px; 
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.product ul{
    list-style: none;
    padding-inline-start: 0px;
  
  }
  .product ul li{
    font-weight: bold;
    padding: 12px 20px;
    display: flex;
  }


  .product ul li a{
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    font-size:15px;
    margin-right: 5px;
    color: rgb(34, 65, 133);
    font-style:italic;
  
  } 

  .product ul li:nth-child(2n-1) {
    background: #d1d1d1;
  }